html{
    height: 100%;
}
body{
    background-color: green;
    background-image: url(images/backgroundimg.png);
    background-size:cover;
    background-position: center;
     
    
}
header{
    height: 118px;
    text-align: center;
}
nav{
    background-color: rgba(0, 0, 0, 0.322);
    /* height:40px; */
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}
main{
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-right: 240px;
    padding-left: 240px;

}
footer{
    background-color: orange;
    /* height: 100px; */
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.329);
}
.container{
    margin-left: auto;
    margin-right: auto;
    width:1024px;
}
h1{
    font-size: 84px;
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
    
}
p{
    font-size: 25px;
    color: black;

}
a{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
nav a{
    text-decoration: none;
    font-size: 12px;
    padding-left:10px;
    padding-right: 10px;
}
footer p{
    color: grey;
    font-size: 10px;
}
.maps{
    padding-bottom: 100px;
    padding-top: 100px;
}
.youtube{
    text-align: center;
}
.reswidget{
    text-align: center;
    padding-top: 50px;
}